/node_modules
/coverage
/built
/tmp
.awcache
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vscode/
.chrome/
.generate_config.json

serviceDefTemplate
serviceTemplate
lib
lib/
yarn-error.log
